body {
background: #F0F7FC;
padding: 0;
margin: 0;
}
body * {
font-family: Segoe UI,georgia,Arial,Verdana;
font-size: 13px;
color: #333;
line-height: 1.5;
}
.container{
	width:100%;
	margin: 0 auto;
}
.login{
	width:500px;
	height:208px;
	margin: 0 auto;
}
.clear{
	clear:both;
}

.login {
background: white;
-moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
border: 1px solid #A8A8A8;
font-size: 1em;
outline: none;
margin-top: -115px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -250px;
}
.contact-head {
background: #F1F1F1;
border-bottom: 1px solid #E5E5E5;
margin: 0;
padding: 10px 0 10px;
width: 100%;
margin-bottom:11px;
}
.contact-head div {
font-size: 116% !important;
font-weight: normal;
line-height: 25px !important;
margin: 0 0 0 78px;
color: #333;
display: block;
}
.form {
margin: 0;
padding: 15px 30px;
}
.control {
width: 341px;
margin: 0 auto;
padding-bottom: 5px;
padding-top: 5px;
}
label{
	margin-right: 10px;
	width: 55px;
	display: inline-block;
}
.control.button-container {
width: 239px;
padding-top: 10px;
}
table{
	border: 1px solid #D9E7F3;
	width: 99%;
}
table tr.even {
background: #F3F9EF;
}
table tr.odd {
background: #F7FFDE;
}
table tr td {
padding:8px;
border-bottom: solid 1px #D9E7F3;
border-right: solid 1px #D9E7F3;
}
table tr:last-child td{
	border-bottom: solid 0px #E1F3CF;
}
table tr td:last-child {
	border-right: solid 0px #E1F3CF;
}
.wrapper {
background: white;
border: solid 1px #D9E7F3;
padding: 20px;
float:left;
width: 97%;
}
.table-container {
width: 50%;
float: left;
}
.e-code-container {
width: 97%;
min-height: 300px;

margin: 0 auto;
background: white;
border: solid 1px #CCCBC9;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 0 1px 1px #fff inset,inset 0 0 20px 3px rgba(230,226,220,.6);
-webkit-box-shadow: 0 0 1px 1px white inset,inset 0 0 20px 3px rgba(230, 226, 220, .6);
box-shadow: 0 0 1px 1px white inset,inset 0 0 20px 3px rgba(230, 226, 220, .6);
color: #666;
-moz-transition: all .18s;
-o-transition: all .18s;
-webkit-transition: all .18s;
transition: all .18s;
float: left;
}
.header {
margin:0 auto 20px auto;
padding-bottom: 10px;
border-bottom: solid 1px #D9E7F3;
}
.addnew {
width: 100px;
float: right;
}
.ajax-form{
	padding:10px;
	border: solid 1px #D9E7F3;
	margin-bottom: 	10px;
}
#powered{
	padding-top: 20px;
	text-align: center;
	clear: both;
}